# Core functionality - changes here should be rare!
/src/app.py                   @s-schoen
/src/backend/database.py      @s-schoen
/src/backend/routers/auth.py  @s-schoen

# The frontend will need refactored soon to be more object oriented.
/src/static/   @s-schoen
